/* Navbar right items active */
.active {
  font-weight: 900;
  font-size: 25;
}

/* Navbar colour */
.navbar {
  background-color: #8B4513;
}

/* Navbar right items colour */
.nav.navbar-nav.navbar-right li a {
  color: white;
}

/* Navbar brand colour */
.navbar-default .navbar-brand {
  color: white;
}

/* Navbar right items hover colour */
.navbar .nav > li > a:hover {
  color: #CDAF95;
}

/* Navbar brand hover colour */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #CDAF95;
}

/* Mobile hamburger collapse bars colour */
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* Main background colour */
body {
  background-color: #A57455;
}

/* Remove white outline of the navbar */
.navbar.navbar-default {
  border: none;
}

/* Billabong, custom font configuration */
@font-face {
  font-family: 'Billabong';
  src: url(billabong.woff);
}

/* Mobile hamburger hover colour */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #A57455;
}

/* Put a set size on the textfields */
.form-control {
  width: 250px;
}

/* The space between the bullet point and the text */
#bulletPoint1text, #bulletPoint2text, #bulletPoint3text {
  margin-left: -15px;
}

/* The space between the left side and the bullet point */
#bulletPoint1 {
  margin-left: 2px;
}

/* The space between the left side and the bullet point */
#bulletPoint2 {
  margin-left: -1px;
}

/* The space between the left side and the bullet point */
#bulletPoint3 {
  margin-left: -5px;
}

/* Add a 3px border around the logo */
#theLogo {
  width: 180px;
  margin-bottom: 20px;
  margin-top: 10px;
  filter: drop-shadow(3px 3px 0 white)
          drop-shadow(-3px 3px 0 white)
          drop-shadow(3px -3px 0 white)
          drop-shadow(-3px -3px 0 white);
}

/* Edit the signup button styles */
#signupButton1 {
  background-color: #404040;
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin-right: 20px;
}

/* Edit the login button styles */
#loginbutton1 {
  background-color: #404040;
  width: 80px;
  height: 40px;
  font-size: 20px;
  margin-left: 20px;
}

/* Change btn class hover colour */
.btn:hover,
.btn:focus,
.btn.focus {
  color: #949494;
  text-decoration: none;
}

/* Change the h1 font size */
#InstagramClone {
  font-size: 350%;
}

/* Change the h1 font size */
#by {
  font-size: 250%;
  margin-top: -15px;
}

/* Change the h1 font size */
#RickyDam {
  font-size: 350%;
  margin-top: -10px;
}

/* Add a top margin to home.html */
#homeContainer {
  margin-top: 10px;
}

/* Add a top margin to signup.html */
#signupContainer {
  margin-top: 40px;
}

/* Back button styling */
#backButton {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: #CC3232;
}

/* Second signup button styling */
#signupButton2 {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: #228B22;
}

/* Top margin for login.html*/
#loginContainer {
  margin-top: 120px;
}

/* Second login button styling */
#loginButton2 {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: #236B8E;
}
