<link rel="shortcut icon" href="#">
<font color="white">

<div class="container-fluid" id="loginContainer">
  <center>
    <font face="Billabong">
      <button class="btn" id=backButton ui-sref="home"> Back </button><br><br>
    </font>
    <input class="form-control" type="text" placeholder="Username" ng-model="theUsername"><br>
    <input class="form-control" type="password" placeholder="Password" ng-model="thePassword"><br>
    <font face="Billabong">
      <button class="btn" type="submit" id="loginButton2"> Login </button>
    </font>
  </center>
</div>
